



.btn{
    margin-right: 4px;
}
.btn-primary{
    background: #203c51;
}

.btn-warning{
    background: #5599be;
}
.btn-danger{
    background: #f66b0e;
}



.banner{
    background: #002f52;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
    .banner img{
        max-width: 200px;
    }


    .bg-light{
        background: #ff571f !important;
    }
        .bg-light a{
            color: #fff;
        }

        .cartao{
    
        }
            .cartao input{
                display: block;
                width: 100%;
                padding: 0.375rem 0.75rem;
                font-size: 1rem;
                font-weight: 400;
                line-height: 1.5;
                color: var(--bs-body-color);
                -webkit-appearance: none;
                -moz-appearance: none;
                appearance: none;
                background-color: var(--bs-body-bg);
                background-clip: padding-box;
                border: var(--bs-border-width) solid var(--bs-border-color);
                border-radius: var(--bs-border-radius);
                transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
            }